{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mt-5 mb-2">
            <h1>Catégories</h1>
            <a href="{{ path('app_category_new') }}" class="btn btn-primary">Ajouter une catégorie</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                        {#                        <a href="{{ path('edit_product', {id: product.id}) }}" class="btn btn-sm btn-primary">Edit</a> #}
                        <a href="{{ path('app_category_delete', {id: category.id}) }}" class="btn btn-sm btn-danger"
                           onclick="return confirm('Voulez-vous vraiment supprimer cette catégorie?')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
